body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.switch-wrapper {
  flex: 1;
  position: relative;
}

.switch-wrapper > div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
